{% extends 'partiels/base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form id="myForm" class="user" method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="username"
                                    placeholder="username">
                            </div>
                            <div class="invalid-feedback" id="invalid-username">
                                <p></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="email"
                                    placeholder="Email Address">
                            </div>
                            <div class="invalid-feedback" id="invalid-email">
                                <p></p>
                            </div>
                            <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                        id="password" placeholder="Password">
                                        <i class="password-toggle fas fa-eye"></i>
                                </div>
                                <div class="invalid-feedback" id="invalid-password">
                                    <p></p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                        id="repass" placeholder="Repeat Password">
                                </div>
                                <div class="invalid-feedback" id="invalid-repass">
                                    <p></p>
                                </div>
                            </div>
                            <input type="submit" value="Register Account" id="Register-Button" 
                            class="btn btn-primary btn-user btn-block" disabled="true"> 
                                

                        </form>
                        <hr>

                        <div class="text-center">
                            <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
        <script src="{%static '/js/validate.js'%}"></script>
{% endblock %}